@use "../variables/colors";
@use "../components/buttons";
@use "../mixins/media-mixins";
@use "../mixins/text";

.partners {
    padding: 56px 0px;
    border-bottom: 2px solid #E6E8EC;
}
.container {
}
.partners__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.partners__img img {
    display: block;
    margin: 0 auto;
}
.border-right {
    border-right: 1px solid #E6E8EC;
}
.border-bottom {
    border-bottom: 1px solid #E6E8EC;
}